@charset "utf-8";


header .wrapper {
    display: flex;
    justify-content: space-between;
    max-width:70%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}


.sns-list {
    display: flex;
    padding-inline-start: 0px;
}

.home a {
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'Abril Fatface', cursive;
}

li {
    list-style: none;
    justify-content: space-around;
    padding: 10px;
    font-size: xx-large;
}

.main-image {
    width: 100%;
}

.main-title {
    text-align: center;
    font-size: 2rem;
    font-family: 'Abril Fatface', cursive;
    padding-top: 40px;
}

.main-body {
    display: flex;
    justify-content: center;
}

.main-body img {
    border-radius: 50%;
    width: 300px;
    height:300px;
    margin: 30px;
    
}

.main-body p {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding-top: 40px;
    font-weight: bold;
    
}

footer .wrapper {
    background-color: black;
    padding: 10px;
}

footer .wrapper p {
    color: white;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

    .container .wrapper {
    max-width:70%;
    margin: auto;
}
/* タブレット */
@media (max-width: 768px) {


header .wrapper {
    flex-direction: column;
}

.wrapper h1 {
    text-align: center;
    margin-top: 20px;
}
.home a {
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'Abril Fatface', cursive;
}

.sns-list {
    padding-inline-start: 0px;
    justify-content:flex-end;
}

li {
    list-style: none;
    justify-content: space-around;
    padding: 10px;
    font-size: xx-large;
}
.main-body {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.main-body img {
    border-radius: 50%;
    justify-content:center;
    width: 250px;
    height:250px;
    margin: 30px;
    
}

.main-body p {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding:20px 20px 50px 20px;
    font-weight: bold;
    justify-content:center;
}

.container .wrapper {
    max-width: 70%;
    margin: auto;
}
}


@media (max-width: 480px)  {

    header .wrapper {
    display: flex;
    justify-content: space-between;
    max-width:80%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    }


    small {
        font-size: 60%;
    }

    .main-body img {
    border-radius: 50%;
    justify-content:center;
    width: 200px;
    height:200px;
    margin: 30px;
    
    }

    .container .wrapper {
    max-width: 90%;
    margin: auto;
    }
    footer .wrapper{
    width: 100%;
    }
}